body {
    background-color: #4682B4;
}


.navbar-brand 
{
	color: #FFFFFF !important;
}


.navbar-inverse
{
	margin-bottom: 0px !important;
	border-bottom-right-radius: 30%
}


.game 
{
	background-color: #FFFFFF !important;
	width: 100%;
	height:400px;
}